/target/
/dist/
/packaging/arch/*.pkg.tar.zst
/packaging/arch/*.pkg.tar.zst.sig
/packaging/arch/src/
/packaging/arch/pkg/
*.rdp
.env
.env.*

/vendor/minifb/target/

/vendor/vnc-rs/target/
/vendor/vnc-rs/Cargo.lock
