pkgbase = fjern
	pkgdesc = Native Linux remote desktop client for RDP and VNC
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/zeq0r/fjern
	arch = x86_64
	license = MIT
	depends = brotli
	depends = gcc-libs
	depends = glibc
	depends = libxkbcommon
	depends = openssl
	depends = wayland
	depends = zlib
	depends = zstd
	options = !debug
	source = fjern-v0.2.0-x86_64-linux.tar.gz::https://github.com/zeq0r/fjern/releases/download/v0.2.0/fjern-v0.2.0-x86_64-linux.tar.gz
	sha256sums = 13e0c95b0e5780b2d7f4b4c62508484cc008248f82dc968ceaf1b77d5b9668bc

pkgname = fjern
